EMSAC_Client/Connected Services/EMSAC/EmsacService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EMSAC_WCF_WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EMSAC_WCF_WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Infected">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pacient_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Register_date" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Infected" nillable="true" type="tns:Infected" />
  <xs:complexType name="Isolated">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Cod_infected" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pacient_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Register_date" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Isolated" nillable="true" type="tns:Isolated" />
</xs:schema>