EMSAC_Client/Connected Services/EMSAC/EmsacService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60929/EmsacService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EMSAC_WCF_WebService" />
  <xs:element name="RegisterInfected">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EMSAC_WCF_WebService" minOccurs="0" name="inf" nillable="true" type="q1:Infected" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterInfectedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterIsolated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EMSAC_WCF_WebService" minOccurs="0" name="iso" nillable="true" type="q2:Isolated" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterIsolatedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Relatoriodigital">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="file" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="extension" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RelatoriodigitalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastVisits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastVisitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EMSAC_WCF_WebService" minOccurs="0" name="GetLastVisitsResult" nillable="true" type="q3:VisitsStats" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>