EMSAC_Client/Connected Services/EMSAC/EmsacService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmsacService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60929/EmsacService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60929/EmsacService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60929/EmsacService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EMSAC_WCF_WebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmsacService_RegisterInfected_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterInfected" />
  </wsdl:message>
  <wsdl:message name="IEmsacService_RegisterInfected_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterInfectedResponse" />
  </wsdl:message>
  <wsdl:message name="IEmsacService_RegisterIsolated_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterIsolated" />
  </wsdl:message>
  <wsdl:message name="IEmsacService_RegisterIsolated_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterIsolatedResponse" />
  </wsdl:message>
  <wsdl:message name="IEmsacService_Relatoriodigital_InputMessage">
    <wsdl:part name="parameters" element="tns:Relatoriodigital" />
  </wsdl:message>
  <wsdl:message name="IEmsacService_Relatoriodigital_OutputMessage">
    <wsdl:part name="parameters" element="tns:RelatoriodigitalResponse" />
  </wsdl:message>
  <wsdl:message name="IEmsacService_GetLastVisits_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastVisits" />
  </wsdl:message>
  <wsdl:message name="IEmsacService_GetLastVisits_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastVisitsResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmsacService">
    <wsdl:operation name="RegisterInfected">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmsacService/RegisterInfected" message="tns:IEmsacService_RegisterInfected_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmsacService/RegisterInfectedResponse" message="tns:IEmsacService_RegisterInfected_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterIsolated">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmsacService/RegisterIsolated" message="tns:IEmsacService_RegisterIsolated_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmsacService/RegisterIsolatedResponse" message="tns:IEmsacService_RegisterIsolated_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Relatoriodigital">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmsacService/Relatoriodigital" message="tns:IEmsacService_Relatoriodigital_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmsacService/RelatoriodigitalResponse" message="tns:IEmsacService_Relatoriodigital_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastVisits">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmsacService/GetLastVisits" message="tns:IEmsacService_GetLastVisits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmsacService/GetLastVisitsResponse" message="tns:IEmsacService_GetLastVisits_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmsacService" type="tns:IEmsacService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterInfected">
      <soap:operation soapAction="http://tempuri.org/IEmsacService/RegisterInfected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterIsolated">
      <soap:operation soapAction="http://tempuri.org/IEmsacService/RegisterIsolated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Relatoriodigital">
      <soap:operation soapAction="http://tempuri.org/IEmsacService/Relatoriodigital" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastVisits">
      <soap:operation soapAction="http://tempuri.org/IEmsacService/GetLastVisits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmsacService">
    <wsdl:port name="BasicHttpBinding_IEmsacService" binding="tns:BasicHttpBinding_IEmsacService">
      <soap:address location="http://localhost:60929/EmsacService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>